header {
  background-color: #f0f0f0;
  padding: 50px;
}

nav{
	float: right;
	position: absolute;
}

.Food{
	float: left;
	background-color: #f0f0f0;
}
	
.navbar-brand {
  float: Right;
}

.container {
  margin: 20px auto;
}

.section {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
}

.section-content {
  margin-top: 20px;
}
